
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Birthday Moonie 🌙</title>
    <link rel="stylesheet" href="birthday.css">
</head>

<body id="page">

    <section class="box">

        <div class="box1"></div>
        <div class="box2"></div>
        <div class="box3"></div>
        <div class="box4"></div>
        <div class="box5"></div>

        <div class="box6">
            <p>THE WAIT IS OVER...</p>
            <h1>HAPPY BIRTHDAY</h1>
            <h2>MOONIECHAN_QUEEN</h2>
            <span>🌙</span>
        </div>

        <div class="box12">

            <div class="box13">
                <img src="../../Assets/moon2.jpg"
                    data-normal="../../Assets/moon2.jpg"
                            data-chaos="../../Assets/Assets/photo_2026-09-10_20-18-09.jpg."
                    alt="Moonie's OC">
            </div>

            <div class="box14">
                <p>THE ONE AND ONLY</p>
                <h2>MOONIE</h2>
                <span>🌙</span>
            </div>

        </div>

        <div class="box7"></div>
        <div class="box8"></div>
        <div class="box9"></div>

    </section>


    <section class="box10">

        <div class="box11">
            <p>FOR THE QUEEN OF CHAOS</p>

            <h2>A little world made just for you.</h2>

            <p>
                You create worlds, characters, stories and chaos,
                so we thought you deserved a world of your own.
            </p>
        </div>


        <section class="box15">

            <div class="box16">
                <p>Your Favourite ones!</p>
                <h2>THE CHARACTERS</h2>
                <span>✦</span>
            </div>


            <div class="box17">

                <div class="box18">

                    <div class="box19">
                        <img
                            src="../../Assets/moon.jpg"
                            data-normal="../../Assets/moon.jpg"
                            data-chaos="../../Assets/moon-chaos.jpg"
                            alt="Moonie's OC">
                    </div>

                    <p>THE GODDESS HERSELF</p>
                    <h3>MOONIE</h3>

                </div>


                <div class="box18">

                    <div class="box19">
                        <img
                            src="../../Assets/marshmallow.jpg"
                            data-normal="../../Assets/marshmallow.jpg"
                            data-chaos="../../Assets/marshmallow-chaos.jpg"
                            alt="Friend's OC">
                    </div>

                    <p>THE TWINNY💙🤍</p>
                    <h3>MARSHMALLOW</h3>

                </div>


                <div class="box18">

                    <div class="box19">
                        <img
                            src="../../Assets/Ol9sV.jpg"
                            data-normal="../../Assets/Ol9sV.jpg"
                            data-chaos="../../Assets/ElliotMe.jpg"
                            alt="Elliot">
                    </div>

                    <p>THE YANDERE</p>
                    <h3>ELLIOT</h3>

                </div>


                <div class="box18">

                    <div class="box19">
                        <img
                            src="../../Assets/007n7.jpg"
                            data-normal="../../Assets/007n7.jpg"
                            data-chaos="../../Assets/007n7-chaos.jpg"
                            alt="007n7's OC">
                    </div>

                    <p class="box31">THE FAVOURITE ONE</p>
                    <h3 class="box32">007N7</h3>

                </div>

            </div>


            <div class="box20">
                <p>FOUR CHARACTERS.</p>
                <p>ONE CHAOTIC UNIVERSE.</p>
            </div>


            <div class="box26">
                <button class="box27">⚠ ENTER CHAOS MODE</button>
            </div>

        </section>

    </section>


    <div class="box21">

        <div class="box22">

            <div class="box24">
                ✦ SECRET FRAGMENT FOUND ✦
            </div>

            <h2>Moonie's hidden side...</h2>

            <p>You were not supposed to find this.</p>

            <span>But since you're here... 🌙</span>

            <button class="box25">
                KEEP EXPLORING
            </button>

        </div>

    </div>


    <div class="box28">

        <div class="box29">

            <p>THE WORLD IS QUIET AGAIN...</p>

            <h2>But something is waiting beyond this door.</h2>

            <button class="box30">OPEN THE DOOR</button>

        </div>

    </div>


    <script src="birthday.js"></script>

</body>
</html>

